
html{
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body {
	font-family: 'Source Code Pro', monospace;
}

p {
	font-family: 'Source Code Pro', monospace;
	font-size: 14px;
	line-height: 20px;
}

.hidden{
    display: none;
}

#solucao-read-more,
#contexto-read-more{
    cursor: pointer;
    color: grey;
}

li{
    line-height: 20px;
    font-size: 14px;
}

h1, h2, h3, h4 {
	padding: 0;
	margin:0;
}

h2 {
	font-family: 'Source Code Pro', monospace;
	font-size: 54px;
	color: #0103A7; /* azul */
	text-transform: uppercase;
	font-weight: bold;
    line-height: 1.6em;
    width: 95%;
}

.solucao .subtitle h2::after{
    width: 100%;
}

.solucao p{
    max-width: 95% !important   ;
}

img {
	display: block;
	max-width: 100%;
}

.hidden{
	position: -100%;
}

.container{
    width: 80%;
    margin: 0 auto;
    position: relative;
}


/* Header */

.menu {
	background: #0103A7; /* azul */
	position: relative;
	width: 100%;
	top: 0;
    z-index: 100;
    height: 65px;
}

.title{
    color: white;
    line-height: 100%;
    font-size: 30px;
    left: 50%;
    top: 50%;
    /* text-align: center; */
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

/* explicação do case */

.nosso-trabalho{
    display: flex;
    justify-content: space-between;
}

.grid{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr ;
    margin-top: 40px;
    position: relative;
}

.trabalho .subtitle{
    margin-left: auto;
    display: block;
    
}
.trabalho .subtitle h2{
    margin-left: auto;
    display: block;
}

.grid div, .grid p, .grid ul{
    display: inline-block;
}
.grid ul{
    /* padding-left: 73%; */
    width: 100%;
}

.grid .subtitle{
    width: 70%;
}

.grid .solucao .subtitle, .grid .solucao .content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.grid p{
    max-width: 70%;
}

.subtitle h2::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: currentColor;
    display: block;
    margin: 0 auto;
    
}

.subtitle h2{
    font-size: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.trabalho .content{
    margin-left: 35%;
}

/* prints do case */

.prints{
    margin-top: 25px;
    margin-bottom: 25px;
    /* object-fit: contain; */
    /* display: flex; */
    align-items: center;
}

.imagem{
    margin-top: 10px;
    object-fit: contain;
}

.imagem-2{
    width: 65%;
    object-fit: contain;
    margin: 20px auto;
}


/* effects */

.imagem{
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all ease;
}

.appear{
    opacity: 1;
    transform: translateY(0px);
}


/* phones */
@media only screen and (max-width: 940px){

    .container{
        max-width: 100%;
    }

    .nosso-trabalho{
        margin-top: 10px;
        margin-left: 10px;
    }

    .title{
        font-size: 28px;
        top: 0;
        left: 0;
        transform: initial;
        margin-top: auto;
        margin-bottom: auto;
        padding-top: 17.5px;
        padding-left: 12vw;
    }

    .grid .solucao .subtitle, 
    .grid .solucao .content,
    .grid .trabalho .subtitle{
        margin-left: 0;
        margin-right: 0;
    }


    .grid{
        display: inline-block;
        margin: 10px;
        max-width: 100%;
    }

    .grid .subtitle, .grid .content{
        display: block !important;
        max-width: 100% !important;
    }

    .grid .trabalho{
        padding-left: 0;
        display: block;
    }


    .grid p{
        max-width: 100% !important;
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 1.5em;
    }
    .trabalho .content{
        margin-left: 0;
    }

    .trabalho .subtitle h2{
        margin-left: 0;
    }

    .grid ul{
        padding-left: 0;
        width: 100%;
    }

    .subtitle h2{
        font-size: 20px;
    }

    img{
        max-width: 100%;
    }

    .subtitle h2::after{
        /* content: ""; */
        width: 100%;
        position: absolute;
    }
    .grid div{
        max-width: 100%;
    }


}