.marcas-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    margin-left: auto;
    justify-content: center;
}

.quebra2-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    background-color: #0103A7;
}

.depoimento-pessoal{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
