* {
    font-family: 'Armata', sans-serif;
}

h1 {
    top: 8%;
}


/* menu */

.menu {
    background: #0103A7;
    /* azul */
    position: fixed;
    width: 100%;
    /* border-bottom: 2px solid yellow; */
    top: 0;
    z-index: 99999;
    height: 50px;;
}

.active {
    transition: .4s ease;
    z-index: 100;
    opacity: 1;
    visibility: visible;
    transition: all 1.0s ease;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
}


#nav-icon {
    width: 50px;
    height: 32px;
    margin-left: -100%;
    /* position: relative; */
    left: 91%;
    top: 11px;
}

#nav-icon span {
    display: block;
    position: fixed;
    height: 4.5px;
    width: 25px;
    background: white;
    /* border-radius: 12px; */
    opacity: 1;
    right: 21px;
    margin-top: 12px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
    top: 8px;
}

#nav-icon span:nth-child(4) {
    top: 16px;
}

#nav-icon:hover {
    cursor: pointer;
}

#nav-icon.open span:nth-child(1) {
    /* top: 18px; */
    width: 0%;
    /* left: 50%; */
}

#nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
    /* top: 18px; */
    width: 0%;
    /* left: 50%; */
}

.logo-at-header {
    display: inline;
    padding: 11px 20px;
}

.menu>div {
    display: inline-block;
}

.menu img {
    display: inline-block;
    width: 20px;
    height: 23px;
}

.menu-options {
    visibility: hidden;
    /* display: none; */
    /* transition: all 1s ease; */
    /* z-index: -10000; */
    position: absolute;
    top: -9999999;
    right: -9999999999;
}

.menu-options.active {
    /* opacity: 1; */
    visibility: visible;
    background-color: #0103A7;
    height: 100vh;
    width: 100%;
    position: relative;
    visibility: visible;
    z-index: 1000;
    display: block;
    /* clip-path: circle(85% at 90% -10%); */
    transition: all 1.0s ease;

}

.menu-options.active ul {
    padding: 60px 0;
    margin: 0;
    transition: 1.0s;
}

.menu-options li {
    display: block;
    padding-right: 50px;
    text-align: right;
}

.menu-options li a {
    display: block;
    color: white;
    padding: 30px 70px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.1em;
    font-size: 23px;
}

.menu-options li a:hover {
    color: #FFFF1E;
    cursor: pointer;
}

.disappear {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 767px) {
    .menu-options li {
        padding-right: 0;
        /* text-align: center; */
        margin-bottom: 15%;
    }
    
    .menu-options.active ul {
        padding-top: 5%;
        padding-left: 5%;
    }

    .menu-options li a {
        padding: 20px 70px;
    }
}